@mixin grilla ($color-fondo, $margen-iz) {
    background-color:$color-fondo;
    left: $margen-iz;
}

%grillaTodos {
    display: inline-block;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
}

.div {
    background-color: springgreen;
    width: 100%;
    height: 600px;
    margin: auto;
    border: 2px solid black;
    display: block;
    box-sizing: border-box;
    position: relative;
    &__item1 {
        @extend %grillaTodos;
        @include grilla(saddlebrown,0);
    }
    &__item2 {
        @extend %grillaTodos;
        @include grilla(blue,33.33333333%);
    }
    &__item3 {
        @extend %grillaTodos;
        @include grilla(red,66.66666666%);
    }
}